<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>论文</title>
</head>
<body id="htmlbody">
    <div class=".container col-8 justify-content-center offset-2">
        <!-- 导航栏-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/">阅读论文关联系统</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/static/papers/management.html">论文管理<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">时间轴查看<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <!-- 暂时不让直接点过来，只能通过引用树跳转 -->
                        <a class="nav-link active" href="#">引用树查看<span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 这个地方防止一个画布，画各种关系 -->


        <!--画图的区域-->
        <textarea readonly hidden id="forDrawUseOnly"></textarea>
        <textarea readonly hidden id="forRecordUseOnly"></textarea>
        <div class="render_container scrollable-content">
            <div class="flowchart center" id="drawArea"></div>
        </div>

    <!-- 下面这个是最外边container的结束 -->
    </div>

    <!-- 下面是一个大幕，用来展示论文详情的 -->
    <div class="modal" style="height: 99%; width: 99%;" tabindex="-1" id="paperDetailModal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" style="height: 100%; width: 100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick='CloseModalWithID("paperDetailModal")'>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-xl">
                    <iframe id="iframeInPaperDetailModal" frameborder="0" width="100%", height="100%">
                    </iframe>
                </div>
            </div>
        </div>
    </div>

<div>


    <!-- 使用bootstrap和jquery -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
<!-- jquery -->
    <script src="/static/js/jquery.min.js"></script>
    <!--画图的-->
    <!--可以让mermaid有连接的代码-->
    <link href="/static/css/mermaid.css" rel="stylesheet"/>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/7.0.0/mermaid.js"></script> -->
    <!--下面的是ajax的内容-->
    <script src="/static/js/mermaid.min.js"></script>

    <!--自己写的样式-->
    <!-- 阻止页面自己滚动，只让这个图形可以拖动 -->
    <style>
        body, html {
            height: 100%;  
            margin: 0;  
            overflow: hidden; /* 阻止页面滚动 */  
            position: relative;  
        }

        .scrollable-content {
            text-align: center;
            width: 99%;  
            height: 400px; /* 或任何你需要的固定高度 */  
            overflow-y: auto; /* 允许垂直滚动 */  
            border: 1px solid #ccc; /* 可选：添加边框以便观察 */
        }
    </style>

    <!-- 自己的代码 -->
    <script src="/static/js/pagesOp/addButtonWithCallback.js"></script>
    <script src="/static/js/actions/buttonActions.js"></script>
    <script src="/static/js/viewsInTree.js"></script>
    <script>
        $(document).ready(function() {
            // 准备拿到存储的basepaper, 然后从数据库中查询
            var basepaper = window.localStorage.getItem("basepaper");
            if (basepaper == null || basepaper == ""){
                alert("请点开一个论文后跳转回来.");
            }
            // console.log(basepaper)
            GetCitesAndCitedAjax(basepaper);
            // 成功重新渲染
            // 拿到所有的a标签，然后添加点击事件，这个是再viewInTreeHTML中的
            $("#drawArea").on('click', 'a', function (event) { 
                event.preventDefault(); // 阻止默认跳转

                citeName = $(this).attr("id")
                //先从后台读取一个论文
                dataToBack = {
                    "citeName": citeName,
                }
                $.ajax({
                    url: "/papers/getPaperByID",
                    method: "post",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(dataToBack),
                    success: function(res){
                        // 这个地方应该不会有成功，因为成功就跳转了
                        if(res["status"] == true) {
                            // 先重新获取这个的前后，并加载进页面
                            GetCitesAndCitedAjax(citeName);
                            // 加载到modal
                            paperModal(res["data"]);
                        } else {
                            alert("发生错误：", res["msg"])
                        }
                    },
                    error: function (res) {
                        alert("发生错误：", res["msg"])
                    }
                });
                // 读取完毕

            })
        });
    </script>
</body>
</html>
